*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
.tableau {
  margin-top: 30px;
  margin: 100px;
}

.container {
  position: relative;
  height: 100%;
  width:100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
  url(../image/foret.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: center;
  padding: 1%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

nav .logo {
  width: 120px;
  cursor: pointer;
}

nav .cart {
  width: 40px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  padding-right: 0px;
  text-align: right;
  list-style-type: none;
}

ul li {
  margin-right: 10px;
}

ul li a {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

ul li a::after {
  content: "";
  background: #ffa400;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  transform: translate(-50%, -5px);
  transition: 0.3s;
}

ul li a:hover::after {
  width: 38%;
}
.container .menu{
  display: none;
}

.site-container {
  color: #ffa400;
  
 
}

.site-container p {
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}

.site-container h1 {
  font-size: 80px;
  line-height: 120px;
}

.site-container h3 {
  font-size: 40px;
  font-weight: 500;
  margin-top: 50px;
}

.site-container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.row{
  
  right: 400px;
}
.row a {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  margin-right: 40px;
  font-size: 18px;
  transition: 0.3s;
}

.row a:hover {
  background-color: #fff;
  color: #000;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  right: 5%;
  bottom: 8%;
}

.social-icons a {
  padding: 5px;
  margin-right: 4px;
}
.tableau li {
  display: inline-block;
  margin: 30px 10px;
  padding: 5px 20px;
  background-color: #ffa400;
}


.continent {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
  justify-content: center;
}
.continent img {
  height: 400px;
}












@media  screen and (max-width: 1045px) 
{
  nav .logo {
    width: 120px;
    cursor: pointer;

  }
  .tableau li {
    display:flex;
    flex-direction: column;
    margin: 30px 10px;
    padding: 5px 20px;
    background-color: #ffa400;
  }
  
  
  .continent img {
    height: 700px;
  }
  .australie{
    width: 60%;
    position: relative;
    left: 130px;
  }
  
  }
  







@media  screen and (max-width: 785px) 
{
.container .menu{
  display: block;
    height: 50px;
    position: absolute;
    right: 29px;
  }
  .tableau {
    margin: 90px;
    
  }
  .nav-links ul{
    position: absolute;
    top: 0px;
    right: -780px;
    flex-direction: column;
    background-color: rgba(100, 91, 91, 0.361);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    align-items: center;
  }


  .mobile-menu{
    margin-left: 0;
  }


  .nav-links ul li{
    bottom: 10px;
    align-items: center;
    margin: 20px 0;
    font-size: 2em;
  }


  .container{
    height: 100%;
    position: relative;
  }


  .nav-links{
    display: absolute;
    display: flex;
    flex-direction: column;
 
  }


.container{
    margin: 0;
  }
  a{
    align-items: center;
  }
  .australie{
    width: 80%;
    position: relative;
    left: 50px;
  }

}



